<h1 style="text-align: center;"><span style="color: #ffffff;"><strong>Hola!</strong></span></h1>
<h2 style="text-align: justify;"><span style="color: #ffffff;">Estas en un sistema de gestión medica, por favor
        selecciona el procedimiento deseado:</span></h2>
<p>&nbsp;</p>
<ol>
    <li style="color: white"><span style="color: #ffffff;"><span style="font-size: 14pt;"><a style="color: #ffffff;" title="Sistema Doctores"
                    href="/doctores">Sistema Doctores</a></span></span></li>
    <li style="color: white"><span style="color: #ffffff;"><span style="font-size: 14pt;"><a style="color: #ffffff;"
                    title="Sistema Pacientes" href="/pacientes">Sistema Pacientes</a></span></span></li>
    <li style="color: white"><span style="font-size: 14pt; color: #ffffff;"><a style="color: #ffffff;" title="Citas"
                href="/citas">Citas</a></span></li>
</ol>