<div class="container">
  <div class="row">
    <div class="col-md-6">
      <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
          CRUD Medico A.I.
        </a>
      </nav>
    </div>
    <div class="col-md-6">
      <img src="http://www.scalsys.com/png/blue-banner-png/blue-banner-png_89352.png" alt="Trulli" height="60">
    </div>
  </div>
</div>
<!-- list of doctors -->
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2 style="color: white">Lista Doctores</h2>
      <!-- table to list doctors -->
      <div class="table-responsive">
        <table class="table table-hover table-sm table-dark">
          <thead>
            <tr class="text-center">
              <th>Tarjeta</th>
              <th>Especialidad</th>
              <th>Experiencia</th>
              <th>Consultorio</th>
              <th>Domicilio</th>
              <th>Acción</th>

            </tr>

          </thead>
          <tbody>
            <!-- <tr *ngFor="let doctor of doctorArray, let i=index" class="text-center"> -->
            <tr *ngFor="let doctor of Doctor$, let i=index" class="text-center">
              <td>{{doctor.code}}</td>
              <td>{{doctor.specialty}}</td>
              <td>{{doctor.years}}</td>
              <td>{{doctor.consultingRoom}}</td>
              <td>{{doctor.domicile}}</td>
              <td>
                <a (click)="editDoctor(i)" class="btn btn-success">
                  Editar
                </a>
                <a (click)="deleteDoctor(i)" class="btn btn-danger">
                  Borrar
                </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- Add information. New Doctor -->
      <h2 style="color: white" class="mt-2">Agregar Doctor</h2>
      <div class="card">
        <form class="form-horizontal">

          <!-- input code doctor -->
          <div class="form-group">
            <div class="row">
              <label for="code" class="control-label col-sm-4 text-right">
                Tarjeta Medica:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="code" name="code" [(ngModel)]="modelDoctor.code"
                  placeholder="Ingrese codigo de tarjeta medica">
              </div>
            </div>
          </div>
          <!-- Input Specialty doctor -->
          <div class="form-group">
            <div class="row">
              <label for="specialty" class="control-label col-sm-4 text-right">
                Especialidad:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="specialty" name="specialty"
                  [(ngModel)]="modelDoctor.specialty" placeholder="Ingrese especialidad medica">
              </div>
            </div>
          </div>
          <!-- Input years of experience doctor -->
          <div class="form-group">
            <div class="row">
              <label for="years" class="control-label col-sm-4 text-right">
                Años de Experiencia:
              </label>
              <div class="col-sm-8 text-right">
                <input type="number" class="form-control" id="years" name="years" [(ngModel)]="modelDoctor.years"
                  placeholder="Ingrese años de experiencia">
              </div>
            </div>
          </div>
          <!-- Input consulting room doctor -->
          <div class="form-group">
            <div class="row">
              <label for="consultingRoom" class="control-label col-sm-4 text-right">
                Consultorio:
              </label>
              <div class="col-sm-8 text-right">
                <input type="text" class="form-control" id="consultingRoom" name="consultingRoom"
                  [(ngModel)]="modelDoctor.consultingRoom" placeholder="Ingrese consultorio del medico">
              </div>
            </div>
          </div>
          <!-- Input if the doctor attend to domicile -->
          <div class="form-group">
            <div class="row">
              <label for="domicile" class="control-label col-sm-4 text-right">
                Atiende a domicilio:
              </label>
              <div class="col-sm-4">
                <input type="radio" class="form-control" id="domicile" name="domicile"
                  [(ngModel)]="modelDoctor.domicile" value="Si">Si
              </div>
              <div class="col-sm-4">
                <input type="radio" class="form-control" id="domicile" name="domicile"
                  [(ngModel)]="modelDoctor.domicile" value="No">No
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="addDoctor()">
                Guardar
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <!-- List of the pacients -->
    <div class="col-md-7">
      <h2 style="color: white">Lista Pacientes</h2>
      <!-- table to list pacients -->
      <div class="table-responsive">
        <table class="table table-hover table-sm table-dark">
          <thead>
            <tr class="text-center">
              <th>Nombre</th>
              <th>Apellido</th>
              <th>fecha de nacimiento</th>
              <th>Identificación</th>
              <th>Doctor</th>
              <th>Tratamiento</th>
              <th>Cuota</th>
              <th>Cita</th>
              <th>Acción</th>

            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let pacient of Pacient$, let i=index" class="text-center">
              <td>{{pacient.name}}</td>
              <td>{{pacient.lastName}}</td>
              <td>{{pacient.birthday}}</td>
              <td>{{pacient.identification}}</td>
              <td>{{pacient.doctorsList}}</td>
              <td>{{pacient.treatment}}</td>
              <td>{{pacient.fee}}</td>
              <td>{{pacient.newDate}}</td>
              
              <td>
                <a (click)="editPacient(i)" class="btn btn-success">
                  Editar
                </a>
                <a (click)="deletePacient(i)" class="btn btn-danger">
                  Borrar
                </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <h2 style="color: white" class="mt-2">Agregar Pacientes</h2>
      <div class="card">
        <form class="form-horizontal">
          <!-- input name pacient -->
          <div class="form-group">
            <div class="row">
              <label for="name" class="control-label col-sm-4 text-right">
                Nombre:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="modelPacient.name"
                  placeholder="Ingrese Nombre del paciente">
              </div>
            </div>
          </div>
        </form>
        <!-- input lastname pacient -->
        <div class="form-group">
          <div class="row">
            <label for="lastname" class="control-label col-sm-4 text-right">
              Apellido:
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="modelPacient.lastname"
                placeholder="Ingrese Apellido del paciente">
            </div>
          </div>
        </div>

        <!-- Input birthday pacient-->
        <div class="form-group">
          <div class="row">
            <label for="birthday" class="control-label col-sm-4 text-right">
              Fecha de nacimiento:
            </label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="birthday" name="birthday" [(ngModel)]="modelPacient.lastname"
                placeholder="Ingrese fecha de nacimiento">
            </div>
          </div>
        </div>

        <!-- Input identification pacient -->
        <div class="form-group">
          <div class="row">
            <label for="identification" class="control-label col-sm-4 text-right">
              Identificación:
            </label>
            <div class="col-sm-8">
              <input type="string" class="form-control" id="identification" name="identification"
                [(ngModel)]="modelPacient.identification" placeholder="Ingrese Identificación">
            </div>
          </div>
        </div>
        <!-- Input Doctor of pacient -->
        <div class="form-group">
          <div class="row">
            <label for="doctorPacient" class="control-label col-sm-4 text-right">
              Doctor asignado:
            </label>
            <div class="col-sm-8">
              <input type="string" class="form-control" id="doctorPacient" name="doctorPacient"
                [(ngModel)]="modelPacient.doctorPacient" placeholder="Ingrese doctor asignado">
            </div>
          </div>
        </div>

        <!-- input if the pacient has treatment -->
        <div class="form-group">
          <div class="row">
            <label for="treatment" class="control-label col-sm-4 text-right">
              Esta en tratamiento:
            </label>
            <div class="col-sm-4">
              <input type="radio" class="form-control" id="treatment" name="treatment"
                [(ngModel)]="modelPacient.treatment" value="Si">Si
            </div>
            <div class="col-sm-4">
              <input type="radio" class="form-control" id="treatment" name="treatment"
                [(ngModel)]="modelPacient.treatment" value="No">No
            </div>
          </div>
        </div>

        <!-- Input fee pacient -->
        <div class="form-group">
          <div class="row">
            <label for="fee" class="control-label col-sm-4 text-right">
              Valor Cuota:
            </label>
            <div class="col-sm-8">
              <input type="number" class="form-control" id="fee" name="fee" [(ngModel)]="modelPacient.fee"
                placeholder="Ingrese valor de la cuota">
            </div>
          </div>
        </div>

        <!-- Input New date pacient -->
        <div class="form-group">
          <div class="row">
            <label for="newDate" class="control-label col-sm-4 text-right">
              Nueva Cita:
            </label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="newDate" name="newDate" [(ngModel)]="modelPacient.newDate">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success" (click)="addPacient()">
              Guardar
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Here the update part -->
  <div class="row">

    <!-- left part -->
    <div class="col-sm-5">
      <!-- Add information. New Doctor -->
      <h2 style="color: white" class="mt-2">Actualizar Doctor</h2>
      <div class="card">
        <form class="form-horizontal">
          <!-- input code doctor -->

          <div class="form-group">
            <div class="row">
              <label for="code" class="control-label col-sm-4 text-right">
                Tarjeta Medica:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="code" name="code" [(ngModel)]="modelDoctorTemp.code"
                  placeholder="Ingrese codigo de tarjeta medica">
              </div>
            </div>
          </div>
          <!-- Input Specialty doctor -->
          <div class="form-group">
            <div class="row">
              <label for="specialty" class="control-label col-sm-4 text-right">
                Especialidad:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="specialty" name="specialty"
                  [(ngModel)]="modelDoctorTemp.specialty" placeholder="Ingrese especialidad medica">
              </div>
            </div>
          </div>
          <!-- Input years of experience doctor -->
          <div class="form-group">
            <div class="row">
              <label for="years" class="control-label col-sm-4 text-right">
                Años de Experiencia:
              </label>
              <div class="col-sm-8 text-right">
                <input type="number" class="form-control" id="years" name="years" [(ngModel)]="modelDoctorTemp.years"
                  placeholder="Ingrese años de experiencia">
              </div>
            </div>
          </div>
          <!-- Input consulting room doctor -->
          <div class="form-group">
            <div class="row">
              <label for="consultingRoom" class="control-label col-sm-4 text-right">
                Consultorio:
              </label>
              <div class="col-sm-8 text-right">
                <input type="text" class="form-control" id="consultingRoom" name="consultingRoom"
                  [(ngModel)]="modelDoctorTemp.consultingRoom" placeholder="Ingrese consultorio del medico">
              </div>
            </div>
          </div>
          <!-- Input if the doctor attend to domicile -->
          <div class="form-group">
            <div class="row">
              <label for="domicile" class="control-label col-sm-4 text-right">
                Atiende a domicilio:
              </label>
              <div class="col-sm-4">
                <input type="radio" class="form-control" id="domicile" name="domicile"
                  [(ngModel)]="modelDoctorTemp.domicile" value="Si">Si
              </div>
              <div class="col-sm-4">
                <input type="radio" class="form-control" id="domicile" name="domicile"
                  [(ngModel)]="modelDoctorTemp.domicile" value="No">No
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="updateDoctor()">
                Guardar
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <!-- right part -->
    <div class="col-sm-7">
      <div *ngFor='let doctorrest of DoctorRest'>

        <h2>{{doctorrest.code}}</h2>


      </div>
    </div>
  </div>
</div>